
#u11775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u11776 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:14px;
  width:29px;
  height:27px;
  display:flex;
}
#u11776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11776_img.mouseOver {
}
#u11776.mouseOver {
}
#u11776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
